# 国内镜像加速 electron/构建器二进制下载
registry=https://registry.npmmirror.com
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
ffmpeg_binaries_url=https://registry.npmmirror.com/-/binary/ffmpeg-static
